.topBar {
    background: #355bae;
    width: -webkit-fill-available;
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    align-items: center;
}

.topBarLogo {
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.topBarOptions {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: end;
    padding: 0px 5px;
}

.container {
    position: relative;
    top: 50px;
    padding: 10px;
    word-break: break-all;
    height: 100%;
}

.welcomeTopbar{
    color:#fff;
    text-align: start;
    width: 100%;
    padding: 0px 10px;
}
.welcomeTopbar p{
    color:#dfdfdf;
 font-size: 13px;
 margin: unset;
}
.welcomeTopbar b{
 font-size: 15px;
}

.swal2-container {
  z-index: 100000000000 !important
}
